/* ------------------
 Complaints styling
   ------------------   */

@font-face {
	font-family: 'icomoon';
	src: url('Fonts/icomoon/icomoon.eot');
	src: url('Fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('Fonts/icomoon/icomoon.woff') format('woff'), url('Fonts/icomoon/icomoon.ttf') format('truetype'), url('Fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ---------
  	Tables

   -------- */

.customContent {
	margin: 50px auto 0;
	padding: 50px;
	width: 1200px;
}
.customContent table {
	width: 100%;
}
.customContent table,
th,
td {
	border: none;
}
#rounded-corner {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
}
#rounded-corner thead .rounded-header-left {
	background: #b9c9fe url('Images/left.png') left -1px no-repeat;
}
#rounded-corner thead .rounded-header-right {
	background: #b9c9fe url('Images/right.png') right -1px no-repeat;
}
#rounded-corner th {
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
	text-align: center;
}
#rounded-corner td {
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
	text-align: center;
}
#rounded-corner tfoot .rounded-foot-left {
	background: #e8edff url('Images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot .rounded-foot-right {
	background: #e8edff url('Images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td {
	background: #d0dafd;
}
/*----------
   Buttons
-----------*/

.btnCustomContent {
	border: none;
	border-radius: 15px;
	font-family: inherit;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;
	outline: none;
	position: relative;
	color: #039;
	background: #b9c9fe;
	height: 30px;
	min-width: 100px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btnCustomContent:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btnCustomContent:active {
	background: #b9c9fe;
	top: 2px;
}
.btnCustomContent:active:before {
	color: #703b87;
}
.btnCustomContent:hover:before {
	left: 0;
}
.btnCustomContent span {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}
.btnCustomContent:hover span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}
/* Pseudo elements for icons */

.btnCustomContent:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 1.5;
	font-size: 180%;
	left: -100%;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-right:before {
	content: "\e00d";
}
.icon-arrow-left:before {
	content: "\e003";
}
.icon-remove:before {
	content: "\e00f";
}
.icon-plus:before,
.icon-plus:after {
	content: "\e011";
}
.icon-cog:before {
	content: "\e010";
}
.icon-save:before {
	content: "\e004";
}
/* ----------
  Input Form
   ----------*/

.customContentTitle {
	text-align: center;
	color: #039;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 20px;
}
.customContentContainer {
	/*min-width: 400px;*/
	
	height: auto;
	margin: 50px auto 0;
	padding: 50px;
	background-color: #e8edff;
	color: #039;
	border: 2px solid #b9c9fe;
	border-radius: 40px 0 40px 0;
	text-align: center;
}
.customContentLabel {
	font-size: 15px;
	font-weight: 700
}
.customContentInput {
	border: 1px solid #b9c9fe;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	-moz-box-shadow: 0 0 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}
.customContentDetails {
	text-align: center;
}

.customContentDetails table, td{
	border:none;
	text-align:left;
	padding:0px;
	margin:0 auto 0 auto;
}

.customContentDetails td:first-child
{
	padding-right:10px;
}