<div class="container">
    <form name="ActionForm" ng-submit="save()">
        <div class="row">
        <input type="hidden" name="item" ng-model="action.complaintId" ng-init="action.complaintId=complaintId">
            <div class="form-group col-lg-4">
                <label for="complaintNo">Complaint Id:</label>
                <span> {{ action.complaintId }} </span>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" required ng-model="action.title">
                <span ng-show="ActionForm.title.$error.required" class="help-inline">
                    Required
                </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="status">Status</label>
                <select ng-init="action.status=action.status || statuses[0]" ng-model="action.status" class="form-control">
                    <option ng-repeat="status in statuses" value="{{status}}">{{status}}
                    </option>
                </select>
        </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="issueByUser">Issue by user</label>                                                        
                <input type="text" name="issueByUser" class="form-control" id="issueByUser" required ng-model="action.issuebyUser">
                <span ng-show="ActionForm.issueByUser.$error.required" class="help-inline">
                    Required
                </span>
            </div>
        </div>
        <input type="hidden" name="item" ng-model="action.item" ng-init="action.item=action.item || 'actions'">
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" rows="6" id="description" required ng-model="action.description"></textarea>
                <span ng-show="ActionForm.description.$error.required" class="help-inline">
                    Required
                </span>
            </div>
        </div>
         <input type="submit" id="submit" value="Submit" ng-disabled="isClean() || ActionForm.$invalid" class="btn btn-primary" />
       
    </form>
    
</div>
