<form name="actionForm">
    <div class="customContentContainer">
        <div class="customContentTitle">
            <span ng-hide="action.value._id">New Action</span>
            <span ng-hide="!action.value._id">Edit Action</span>
        </div>
        <input type="hidden" name="item" ng-model="action.value.complaintId" ng-init="action.value.complaintId=complaintId">
        <input type="hidden" name="issueByUser" ng-model="action.value.issueByUser" ng-init="action.value.issueByUser=username">
        <div class="customContentDetails">
            <table>
                <tr>
                    <td>
                        <label class="customContentLabel">Complaint Id</label>
                    </td>
                    <td>
                        <span> {{ action.value.complaintId }} </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="customContentLabel">Issue by user</label>
                    </td>
                    <td>
                        <span> {{ action.value.issueByUser }} </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="txtTitle" class="customContentLabel">Title</label>
                    </td>
                    <td>
                        <input type="text" name="txtTitle" required ng-model="action.value.title" class="customContentInput">
                        <span ng-show="ActionForm.title.$error.required" class="help-inline">Required</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ddlStatus" class="customContentLabel">Status</label>
                    </td>
                    <td>
                        <select name="ddlStatus" ng-init="action.value.status=action.value.status || statuses[0]" ng-model="action.value.status" class="customContentInput">
                            <option ng-repeat="status in statuses" value="{{status}}">{{status}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="txtDescription" class="customContentLabel">Description</label>
                    </td>
                    <td>
                        <textarea name="txtDescription" rows="6" required ng-model="action.value.description" class="customContentInput"></textarea>
                        <span ng-show="ActionForm.description.$error.required" class="help-inline">Required</span>
                    </td>
                </tr>
            </table>
            <input type="hidden" ng-model="action.value.item" ng-init="action.value.item=action.value.item || 'action'">
            <div style="text-align:center">
                <button ng-hide="action.value._id" ng-disabled="actionForm.$invalid" ng-click="saveAction()" class="btn btnCustomContent icon-save"><span>Save</span>
                </button>
                <button ng-hide="!action.value._id" ng-disabled="isClean() || actionForm.$invalid" ng-click="updateAction()" class="btn btnCustomContent icon-save"><span>Update</span>
                </button>
                <a class="btn btnCustomContent icon-arrow-left" href="#/Complaint/{{complaintId}}"><span>Cancel</span></a>
            </div>
        </div>
    </div>
</form>
