<div class="container">
    <h1>Actions List</h1>

   <table style="margin-top: 6px;">
        <thead>
            <tr>
                <th>Compliant No.</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Create Date</th>
                <th>Change Date</th>
                <th>Issue by User</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="action in actions.rows | filter:search | orderBy:'doc.complaintId'">
                <td>{{action.value.complaintId}}</td>
                <td>{{action.value.title}}</td>
                <td>{{action.value.description}}</td>
                <td>{{action.value.status}}</td>
                <td>{{action.value.createDate}}</td>
                <td>{{action.value.changeDate}}</td>
                <td>{{action.value.issueByUser}}</td>
                <td><a href="#/action/edit/{{action.value._id}}">Edit</a>&nbsp;
                <a href="#/action/delete/{{action.value._id}}">Delete</a> </td>
            </tr>
        </tbody>
    </table>
</div>
