
<div class="container">
    <h1>Actions List</h1>

    <a href="#/action/new" class="btn btn-primary">add new</a>
   
    <table style="margin-top:6px;">
        <thead>
            <tr>
                <th>Compliant No.</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Create Date</th>
                <th>Change Date</th>
                <th>Issue by User</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="action in actions">
                 <td>{{action.compliantNo}}</td>
                 <td>{{action.title}}</td>
                 <td>{{action.description}}</td>
                 <td>{{action.status}}</td>
                 <td>{{action.createDate}}</td>
                 <td>{{action.changeDate}}</td>
                 <td>{{action.title}}</td>
                 <td><a href="#/action/edit/1">Edit</a>&nbsp; <a href="#/action/edit/1">Delete</a> </td>
            </tr>
        </tbody>
    </table>
</div>
