<div class="customContent">
    <div class="customContentTitle">
        Jobs
    </div>
    <br/>
    <a class="btn btnCustomContent icon-plus" href="#/job/new"><span>Add New</span></a>
    <br/>
    <br/>
    <table id="rounded-corner" summary="Jobs">
        <thead>
            <tr>
                <th scope="col" class="rounded-header-left"></th>
                <th scope="col" class="rounded">Job No.</th>
                <th scope="col" class="rounded" ng-click="sortBy = 'doc.title'; ascending = titleSorting; titleSorting = !titleSorting">Job Title <a class="arrow-down" ng-class="{'arrow-down' : titleSorting, 'arrow-up' : !titleSorting }">{{ titleSorting | sortingType }}</a></th>
                <th scope="col" class="rounded" ng-click="sortBy = 'doc.date'; ascending = dateSorting; dateSorting = !dateSorting">Date Created <a class="arrow-down" ng-class="{'arrow-down' : dateSorting, 'arrow-up' : !dateSorting }">{{ dateSorting | sortingType }}</a></th>
                <th scope="col" class="rounded" ng-click="sortBy = 'doc.groundTime'; ascending = groundTimeSorting; groundTimeSorting = !groundTimeSorting">Ground Time <a class="arrow-down" ng-class="{'arrow-down' : groundTimeSorting, 'arrow-up' : !groundTimeSorting }">{{ groundTimeSorting | sortingType }}</a></th>
                <th scope="col" class="rounded" ng-click="sortBy = 'doc.created'; ascending = createdBySorting; createdBySorting = !createdBySorting">Created by <a class="arrow-down" ng-class="{'arrow-down' : createdBySorting, 'arrow-up' : !createdBySorting }">{{ createdBySorting | sortingType }}</a></th>
                <th scope="col" class="rounded" ng-click="sortBy = 'doc.desc'; ascending = descriptionSorting; descriptionSorting = !descriptionSorting">Job Description <a class="arrow-down" ng-class="{'arrow-down' : descriptionSorting, 'arrow-up' : !descriptionSorting }">{{ descriptionSorting | sortingType }}</a></th>
                <th scope="col" class="rounded" ng-click="sortBy = 'doc.profession'; ascending = professionSorting; professionSorting = !professionSorting">Profession <a class="arrow-down" ng-class="{'arrow-down' : professionSorting, 'arrow-up' : !professionSorting }">{{ professionSorting | sortingType }}</a></th>
                <th scope="col" class="rounded">Attachements</th>
                <th scope="col" class="rounded"><input type="text" name="searchBox" ng-model="searchString" placeholder="Search job title"/></th>
                <th scope="col" class="rounded-header-right"></th>
            </tr>
        </thead>
        <tbody ng-repeat="job in jobs | orderBy:sortBy:ascending">
            <tr ng-show="([job.doc.title, searchString] | contains)">
                <td></td>
                <td><a href="{{job.doc.no}}">{{job.doc.no}}</a>
                </td>
                <td>{{job.doc.title}}</td>
                <td>{{job.doc.date}}</td>
                <td>{{job.doc.groundTime}}</td>
                <td>{{job.doc.created}}</td>
                <td>{{job.doc.desc}}</td>
                <td>{{job.doc.profession}}</td>
                <td>
                    <a class="btn btnCustomContent icon-cog" href="#/job/attachment/{{job.doc._id}}"><span>Add Attachements</span></a>
                </td>
                <td style="width:200px">
                    <a class="btn btnCustomContent icon-arrow-right" href="#/job/edit/{{job.doc._id}}"><span>Edit</span></a>
                    <a class="btn btnCustomContent icon-remove" confirmed-click="deleteJob(job.doc)" confirm-click="Are you sure you want to delete this Job?"><span>Delete</span></a>
                </td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="rounded-foot-left">&nbsp;</td>
                <td colspan="9">
                    <span ng-show="jobsNoOfPages > 0">Page {{jobsCurrentPage}} of {{jobsNoOfPages}}</span>
                    <span ng-hide="jobsNoOfPages > 0">No Jobs available</span>
                </td>
                <td class="rounded-foot-right">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <pagination num-pages="jobsNoOfPages" current-page="jobsCurrentPage" class="pagination-small"></pagination>
    </div>
</div>