<div class="complaints">
    <a class="btn btnComplaint icon-plus" href="#/Complaint/Add"><span>Add New</span></a>
    <br/>
    <br/>
    <table id="rounded-corner" summary="Complaints">
        <thead>
            <tr>
                <th scope="col" class="rounded-header-left">Refference Number</th>
                <th scope="col" class="rounded">Text</th>
                <th scope="col" class="rounded">Type</th>
                <th scope="col" class="rounded">Workgroup</th>
                <th scope="col" class="rounded">Last Modification Date</th>
                <th scope="col" class="rounded-header-right">Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="5" class="rounded-foot-left"></td>
                <td class="rounded-foot-right">&nbsp;</td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="complaint in Complaints">
                <td>{{complaint.doc.refNo}}</td>
                <td>{{complaint.doc.text}}</td>
                <td>{{complaint.doc.type}}</td>
                <td>{{complaint.doc.workgroup}}</td>
                <td>{{complaint.doc.date}}</td>
                <td>
                    <a class="btn btnComplaint icon-arrow-right" href="#/Complaint/{{complaint.doc._id}}"><span>Details</span></a>
                    <a class="btn btnComplaint icon-cog" href="#/Complaint/Edit/{{complaint.doc._id}}"><span>Edit</span></a>
                    <a class="btn btnComplaint icon-remove" href="#" confirmed-click="deleteComplaint(complaint.doc)" confirm-click="Are you sure you want to delete this Complaint?"><span>Delete</span></a>
                    <a class="btn btnComplaint  icon-plus" href="#/action/new/{{complaint.doc._id}}"><span>Create Action</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>