<div class="complaintContainer">
    <div class="complaintTitle">
        <span>Complaint details</span>
    </div>
    <div class="complaint">
        <label for="" class="complaintLabel">Refference Number :</label>
        <input ng-model="complaint.value.refNo" class="complaintInput" disabled>
    </div>
    <div class="complaint">
        <label for="" class="complaintLabel">Text :</label>
        <input ng-model="complaint.value.text" class="complaintInput" disabled>
    </div>
    <div class="complaint">
        <label for="" class="complaintLabel">Type :</label>
        <input ng-model="complaint.value.type" class="complaintInput" disabled>
    </div>
    <div class="complaint">
        <label for="" class="complaintLabel">Workgroup :</label>
        <input ng-model="complaint.value.workgroup" class="complaintInput" disabled>
    </div>
    <br />
    <div style="text-align:center">
        <a class="btn btnComplaint icon-arrow-left" href="#/Complaints"><span>Back</span></a>
    </div>

</div>
<h3> Activities for this complaint </h3>
{{complaint.value._id}}
<activities-Complaint complaintid="'2017dc0d7dd8ccccd5c8bebd6b00c741'">
</activities-Complaint>
