<div class="complaintContainer">
  <div class="complaintTitle">
    <span>Complaint details</span>    
  </div>
  <div class="complaint">
    <label for="" class="complaintLabel">Refference Number :</label>
    <input ng-model="complaint.doc.refNo" class="complaintInput" disabled>
  </div>
  <div class="complaint">
    <label for="" class="complaintLabel">Text :</label>
    <input ng-model="complaint.doc.text" class="complaintInput" disabled>
  </div>
  <div class="complaint">
    <label for="" class="complaintLabel">Type :</label>
    <input ng-model="complaint.doc.type" class="complaintInput" disabled>
  </div>
  <div class="complaint">
    <label for="" class="complaintLabel">Workgroup :</label>
    <input ng-model="complaint.doc.workgroup" class="complaintInput" disabled>
  </div>
  <br />
  <div style="text-align:center">
    <a class="btn btnComplaint icon-arrow-left" href="#/Complaints"><span>Back</span></a>
  </div>
</div>