<a href="#/Complaint/Add">Add new complaint</a>
<br/>
<br/>
<div ng-repeat="complaint in Complaints">
  Number : {{complaint.doc._id}}
  <br />Refference Number : {{complaint.doc.refNo}}
  <br />Text : {{complaint.doc.text}}
  <br />Type :
  <select>
    <option ng-selected="type.Name == complaint.doc.type" ng-repeat="type in Types" value="{{type.Name}}">
      {{type.Name}}
    </option>
  </select>
  <br />Workgroup :
  <select>
    <option ng-selected="workgroup.Name == complaint.doc.workgroup" ng-repeat="workgroup in Workgroups" value="{{workgroup.Name}}">
      {{workgroup.Name}}
    </option>
  </select>
  <br />Last modification date : {{complaint.doc.date}}
  <br />
  <br />
  <a href="#/Complaint/{{complaint.doc._id}}">Details</a>
  <a href="#/Complaint/Edit/{{complaint.doc._id}}">Edit</a>
  <a href="#" ng-click="deleteComplaint(complaint.doc)">Delete</a>
  <br />
  <br />
</div>