<div id="homeContent">
    <div class="leftNavigation">
        <div class="acDataLeftNavigation">
            <div ng-include='"templates/leftNavigation.html"'></div>
        </div>
        <acc-ground-time-box></acc-ground-time-box>

    </div>
    <div class="contentElement">

        <div class="tab-container">
            <div class="tab-header">
                <span ng-click="switchTabs('eLog')">eLogs</span>
                <span ng-click="switchTabs('jobs')">Jobs</span>
            </div>
        </div>
        <div class="tab-content"  >
        	directiva Elogs
        </div>



    </div>

    <jobs groundtime="{{selectedGroundtime}}"></jobs>

{{online}}-offline-
</div>

