<div>
    <form role="form" method="POST" action="#">
        <div class="row">
            <div class="form-group col-lg-1">
                <label for="jobNo">Job No.</label>
                <input type="text" name="jobNo" class="form-control" id="jobNo">
            </div>
            
            <div class="form-group col-lg-1">
                <label for="jobTitle">Job Title</label>
                <input type="email" name="jobTitle" class="form-control" id="jobTitle">
            </div>
            
            <div class="form-group col-lg-1">
                <label for="input3">Date Created:</label>
                <input type="datetime" name="dateCreated" class="form-control" id="dateCreated">
            </div>
            <div class="form-group col-lg-1">
                <label for="dateCreated">Created by:</label>
                <input type="datetime" name="dateCreated" class="form-control" id="dateCreated">
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-lg-12">
                <label for="jobDesc">Job Description: </label>
                <textarea name="jobDesc" class="form-control" rows="6" id="jobDesc"></textarea>
            </div>
            <div class="form-group col-lg-12">
                <input type="hidden" name="save" value="contact">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

</div>
