<div class="groundTimeBox">
	<h8>Create/Edit GrountTime</h8>
	<select name="groundTime" ng-model="groundTime.selectedGroundTime" ng-options="groundTime.doc.selectedAircraft + '_' + groundTime .doc.location + '_' + groundTime.doc.station  +'_' + groundTime.doc.startDate + '_' + groundTime.doc.startTime + '_' + groundTime.doc.endDate + '_'  + groundTime.doc.endTime for groundTime in groundTimes" style="width:160px">
		
		<option value=''>--New Ground Time--</option>


	</select>
	<br/>
	<input type="button" value="Create/Edit Groundtime" ng-click="gotoGroundTime(groundTime)" />


</div>