
<form class="documentForm" method="post" action="" enctype="multipart/form-data">
    <label for=''>Select A File To Upload:</label>
    <br/>
<!--    <input type="text" name="_db" id="_db" placeholder="Database ID" />
    <input type="text" name="_id" id="_id" placeholder="Document ID" />
    <input type="text" name="_rev" id="_rev" placeholder="Revision ID (always overridden in code)" />
    <br/>-->
    <label for='message'>Message:</label>
    <textarea name="message"></textarea>    
    <br/>
    <label for='_attachments'>Select A File To Upload:</label>
    <br/>
    <input type="file" name="_attachments" id="_attachments" multiple="multiple" />
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary"> Save </button>
</form>