<div>
    <form name="myForm">
        <div class="customContentContainer" ng-class="{error: myForm.name.$invalid}">
            <div class="customContentTitle">
                <span ng-hide="job._id">New job</span>
                <span ng-hide="!job._id">Edit job</span>
            </div>
            <div class="customContentDetails">
                <table>
                    <tr>
                        <td>
                            <label for="jobNo" class="customContentLabel">Job No.</label>
                        </td>
                        <td>
                            <input type="number" ng-model="job.value.no" name="jobNo" class="customContentInput" id="jobNo" required />
                        </td>
                        <td><span ng-show="myForm.jobNo.$error.required" class="help-inline">Required</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="jobTitle" class="customContentLabel">Job Title</label>
                        </td>
                        <td>
                            <input type="text" name="jobTitle" class="customContentInput" id="jobTitle" ng-model="job.value.title" required />
                        </td>
                        <td><span ng-show="myForm.jobTitle.$error.required" class="help-inline">Required</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="groundTime" class="customContentLabel">Ground Time</label>
                        </td>
                        <td>
                            <input type="datetime" name="groundTime" class="customContentInput" id="groundTime" ng-model="job.value.groundTime" required />
                        </td>
                        <td><span ng-show="myForm.job.groundTime.$error.required" class="help-inline">Required</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="createdBy" class="customContentLabel">Created by</label>
                        </td>
                        <td>
                            <input type="text" name="createdBy" class="customContentInput" id="createdBy" ng-model="job.value.created" required />
                        </td>
                        <td><span ng-show="myForm.createdBy.$error.required" class="help-inline">Required</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="jobDesc" class="customContentLabel">Job Description</label>
                        </td>
                        <td>
                            <textarea name="description" class="customContentInput" ng-model="job.value.desc" id="description" required></textarea>
                        </td>
                        <td><span ng-show="myForm.description.$error.required" class="help-inline">Required</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="profession" class="customContentLabel">Profession</label>
                        </td>
                        <td>
                            <select ng-model="job.value.profession" ng-init="job.value.profession='Accountant'" name="profession" required class="customContentInput">
                                <option value="Accountant">Accountant</option>
                                <option value="Developer">Developer</option>
                                <option value="CEO">CEO</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <input type="hidden" name="item" ng-model="job.value.item" ng-init="job.value.item=job.value.item || 'job'">
            <div style="text-align:center">
                <button ng-hide="job.value._id" ng-click="saveJob()" ng-disabled="isClean() || myForm.$invalid" class="btn btnCustomContent icon-save"><span>Save</span>
                </button>
                <button ng-hide="!job.value._id" ng-click="updateJob()" ng-disabled="isClean() || myForm.$invalid" class="btn btnCustomContent icon-save"><span>Update</span></button>
                <a class="btn btnCustomContent icon-arrow-left" href="#/jobs"><span>Cancel</span>
                    </a>
            </div>
        </div>
    </form>
</div>