<div>
    <form name="myForm">
        <div class="customContentContainer" ng-class="{error: myForm.name.$invalid}">
            <div class="customContentTitle">
                <span ng-hide="job._id">New job</span>
                <span ng-hide="!job._id">Edit job</span>
            </div>
            <div>
                <label for="jobNo" class="customContentLabel">Job No.</label>
                <input type="number" ng-model="job.no" name="jobNo" class="customContentInput" id="jobNo" required />
                <span ng-show="myForm.jobNo.$error.required" class="help-inline">
                    Required
                </span>
            </div>

            <div>
                <label for="jobTitle" class="customContentLabel">Job Title</label>
                <input type="text" name="jobTitle" class="customContentInput" id="jobTitle" ng-model="job.title" required />
                <span ng-show="myForm.jobTitle.$error.required" class="help-inline">
                    Required
                </span>
            </div>

            <div>
                <label for="groundTime" class="customContentLabel">Ground Time:</label>
                <input type="datetime" name="groundTime" class="customContentInput" id="groundTime" ng-model="job.groundTime" required />
                <span ng-show="myForm.job.groundTime.$error.required" class="help-inline">
                    Required
                </span>
            </div>
            <div>
                <label for="createdBy" class="customContentLabel">Created by:</label>
                <input type="text" name="createdBy" class="customContentInput" id="createdBy" ng-model="job.created" required />
                <span ng-show="myForm.createdBy.$error.required" class="help-inline">
                    Required
                </span>
            </div>
            <div>
                <label for="jobDesc" class="customContentLabel">Job Description: </label>
                <textarea name="description" class="customContentInput" ng-model="job.desc" id="description" required></textarea>
                <span ng-show="myForm.description.$error.required" class="help-inline">
                    Required
                </span>
            </div>

            <div>
                <label for="profession" class="customContentLabel">Job Description: </label>
                <select ng-model="job.profession" ng-init="job.profession='Accountant'" name="profession" required class="customContentInput">
                    <option value="Accountant">Accountant</option>
                    <option value="Developer">Developer</option>
                    <option value="CEO">CEO</option>
                </select>
            </div>

            <br />
            <input type="hidden" name="item" ng-model="job.item" ng-init="job.item=job.item || 'job'">
            <div style="text-align:center">
                <button ng-hide="job._id" ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btnCustomContent icon-save">Save</button>
                <button ng-hide="!job._id" ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btnCustomContent icon-save">Update</button>
                <a class="btn btnCustomContent icon-arrow-left" href="#/jobs"><span>Cancel</span></a>
            </div>
        </div>
    </form>
</div>