<div class="customContent">
    <div class="customContentTitle">
        <span>Complaints</span>
    </div>
    <br/>
    <a class="btn btnCustomContent icon-plus" href="#/Complaint/Add"><span>Add New</span></a>
    <br/>
    <br/>
    <table id="rounded-corner" summary="Complaints">
        <thead>
            <tr>
                <th scope="col" class="rounded-header-left"></th>
                <th scope="col" class="rounded" ng-click="refNoSorting = !refNoSorting; descendingSorting = refNoSorting; getComplaintsByFieldSorted(complaintsSortingTypes.byRefNo, descendingSorting)">
                    Refference Number <a class="arrow-down" ng-class="{'arrow-up' : !descendingSorting, 'arrow-down' : descendingSorting }">{{ refNoSorting | sortingType }}</a>
                </th>
                <th scope="col" class="rounded" ng-click="textSorting = !textSorting; descendingSorting = textSorting; getComplaintsByFieldSorted(complaintsSortingTypes.byText, descendingSorting)">
                    Text <a class="arrow-down" ng-class="{'arrow-up' : !descendingSorting, 'arrow-down' : descendingSorting }">{{ textSorting | sortingType }}</a>
                </th>
                <th scope="col" class="rounded" ng-click="typeSorting = !typeSorting; descendingSorting = typeSorting; getComplaintsByFieldSorted(complaintsSortingTypes.byType, descendingSorting)">
                    Type <a class="arrow-down" ng-class="{'arrow-up' : !descendingSorting, 'arrow-down' : descendingSorting }">{{ typeSorting | sortingType }}</a>
                </th>
                <th scope="col" class="rounded" ng-click="groupSorting = !groupSorting; descendingSorting = groupSorting; getComplaintsByFieldSorted(complaintsSortingTypes.byWorkgroup, descendingSorting)">
                    Workgroup <a class="arrow-down" ng-class="{'arrow-up' : !descendingSorting, 'arrow-down' : descendingSorting }">{{ groupSorting | sortingType }}</a>
                </th>
                <th scope="col" class="rounded" ng-click="modificationDateSorting = !modificationDateSorting; descendingSorting = modificationDateSorting; getComplaintsByFieldSorted(complaintsSortingTypes.byLastModificationDate, descendingSorting)">
                    Last Modification Date <a class="arrow-down" ng-class="{'arrow-up' : !descendingSorting, 'arrow-down' : descendingSorting }">{{ modificationDateSorting | sortingType }}</a> 
                </th>
                <th scope="col" class="rounded">Actions</th>
                <th scope="col" class="rounded-header-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="complaint in complaints">
                <td></td>
                <td>{{complaint.value.refNo}}</td>
                <td>{{complaint.value.text}}</td>
                <td>{{complaint.value.type}}</td>
                <td>{{complaint.value.workgroup}}</td>
                <td>{{complaint.value.date}}</td>
                <td style="width:350px">
                    <a class="btn btnCustomContent icon-arrow-right" href="#/Complaint/{{complaint.value._id}}"><span>Details</span></a>
                    <a class="btn btnCustomContent icon-cog" href="#/Complaint/Edit/{{complaint.value._id}}"><span>Edit</span></a>
                    <a class="btn btnCustomContent icon-remove" href="#" confirmed-click="deleteComplaint(complaint.value)" confirm-click="Are you sure you want to delete this Complaint?"><span>Delete</span></a>
                </td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="rounded-foot-left">&nbsp;</td>
                <td colspan="6">
                    <span ng-show="complaintsNoOfPages > 0">Page {{complaintsCurrentPage}} of {{complaintsNoOfPages}}</span>
                    <span ng-hide="complaintsNoOfPages > 0">No Complaints available</span>
                </td>
                <td class="rounded-foot-right">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <pagination num-pages="complaintsNoOfPages" current-page="complaintsCurrentPage" class="pagination-small"></pagination>
    </div>
</div>
