<div class="customContent">
    <div class="customContentTitle">
        <span>Complaint actions</span>
    </div>
    <br/>
    <a class="btn btnCustomContent icon-plus" href="#/action/new/{{complaintId}}"><span>Add New Action</span></a>
    <br/>
    <br/>
    <table id="rounded-corner" summary="Actions">
        <thead>
            <tr>
                <th scope="col" class="rounded-header-left"></th>
                <th scope="col" class="rounded">Compliant No.</th>
                <th scope="col" class="rounded">Title</th>
                <th scope="col" class="rounded">Description</th>
                <th scope="col" class="rounded">Status</th>
                <th scope="col" class="rounded">Create Date</th>
                <th scope="col" class="rounded">Change Date</th>
                <th scope="col" class="rounded">Issue by User</th>
                <th scope="col" class="rounded">Options</th>
                <th scope="col" class="rounded-header-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="action in actions | filter:search | orderBy:'value.title'">
                <td></td>
                <td>{{action.value.complaintId}}</td>
                <td>{{action.value.title}}</td>
                <td>{{action.value.description}}</td>
                <td>{{action.value.status}}</td>
                <td>{{action.value.createDate}}</td>
                <td>{{action.value.changeDate}}</td>
                <td>{{action.value.issueByUser}}</td>
                <td>
                    <a href="#/action/edit/{{action.value._id}}/{{complaintId}}"><span>Edit</span></a>
                    <a href="#" confirmed-click="deleteAction(action.value)" confirm-click="Are you sure you want to delete this Action?"><span>Delete</span></a>
                </td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="rounded-foot-left">&nbsp;</td>
                <td colspan="8">
                    <span ng-show="complaintActionsNoOfPages > 0">Page {{complaintActionsCurrentPage}} of {{complaintActionsNoOfPages}}</span>
                    <span ng-hide="complaintActionsNoOfPages > 0">No Actions available</span>
                </td>
                <td class="rounded-foot-right">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <pagination num-pages="complaintActionsNoOfPages" current-page="complaintActionsCurrentPage" class="pagination-small"></pagination>
    </div>
</div>