    <table style="margin-top: 6px;">
        <thead>
            <tr>
                <th>Compliant No.</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Create Date</th>
                <th>Change Date</th>
                <th>Issue by User</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="action in actions.rows | filter:search | orderBy:'doc.title'">
                <td>{{action.doc.complaintId}}</td>
                <td>{{action.doc.title}}</td>
                <td>{{action.doc.description}}</td>
                <td>{{action.doc.status}}</td>
                <td>{{action.doc.createDate}}</td>
                <td>{{action.doc.changeDate}}</td>
                <td>{{action.doc.issuebyUser}}</td>
                <td><a href="#/action/edit/{{action.doc._id}}">Edit</a>&nbsp;
                <a href="#/action/delete/{{action.doc._id}}">Delete</a> </td>
            </tr>
        </tbody>
    </table>